<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert New Bike</title>
</head>
<body>
	<h1>Add a Bike Entry</h1>
	<form th:object="${newBike}" th:action="@{/inputBike}" method='POST'>
		Bike Model: <input name="bikeModel" size="25" th:field="*{bikeModel}"> <br />
		Bike Specialty: <input name="bikeSpecialty" size="25" th:field="*{bikeSpecialty}"><br />
		Price: <input name="bikePrice" size="25" th:field="*{bikePrice}"><br />
		<input name="submit" type="submit" value="submit" />
	</form>
	<a href="../viewAll">View all Bikes</a>
</body>
</html>